<!doctype html>
<html lang="en" ng-app="menu">
    <head>

        <title>Menu</title>
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="x2js-v1.1.5/xml2json.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="js/angular-xml.min.js"></script>
        <script src="js/menu.js"></script>
        <meta charset="utf-8">

        <style>
        body{
            background-color:#DED5B3;
        }
        .accordion-heading .accordion-toggle{
            background-color:#CC092F;
        }
        a {
            color:#000000;
        }
        .accordion-inner {
            background-color:#003050;
        }
        </style>
    </head>
    <body ng-controller="MenuCtrl">
            {{locations[0]._title}}
       

<div class="accordion" id="accordionintitial">
  <div class="accordion-group" ng-repeat="d in locations[0].menu.day">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordioninitial" href="#collapse{{$index}}">
        {{d._datelong}}

      </a>
    </div>
    <div id="collapse{{$index}}" class="accordion-body collapse">
      <div class="accordion-inner">
        <!-- first accordion-inner -->
        <div class="accordion" id="accordioninside{{d._datelong}}">

        <div class="accordion-group" ng-repeat="p in d.period">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toddle="collapse" data-parent="#accordioninside{{d._datelong}}" href="#collapse{{d._dateshort}}{{$index}}">
                    {{p._title}} 
                </a>
                
            </div>

            <div id="collapse{{d._dateshort}}{{$index}}" class="accordion-body collapse">
                <div class="accordion-inner">
                    <ul ng-repeat="s in p.station">{{s._title}}
                            <ul ng-repeat="i in s.item">{{i._title}}
                            </ul>
                        </ul>
                        
                    </div>
                </div>

          </div> 
      </div>

     
            </div>
        </div>          
    </div>
  </div>
</div>
</div>







               
        <script src="http://code.jquery.com/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
        
    </body>
</html>
